<div class="footer">
    <div class="fotcenter">
        <a class="image" href="/"><h1>턴플커피</h1></a>
        <div class="nuibutton">
            <span><a href="#"><img src="/img/foon.svg"></a></span><span><a href="#"><img src="/img/fooy.svg"></a></span><span><a href="#"><img src="/img/fooi.svg"></a></span> 
        </div>
        <p class="tiad">개인정보취급방침</p>
        <div class="tiad2">
            <span>주소 : 고양시 덕양구 행신동 222-14 에이스 화정동 1402호</span><span>도로명주소 : 경기도 덕양구 디지털로26길 61 에이스하이엔드타워2차 1402호</span><br>
            <span>대표 : 최원석</span><span>사업자등록번호 : 1234-11-121212</span><span>전화 : 1111-5649</span><span>팩스 : 02-5555-9991</span>
        </div>
        <p class="tiad3">CPPYRIGHT(주)최원석 ALL RIGHTS RESERVED.</p>
    </div>
</div>