<div class="header">
    <div class="center">
        <div class="logo">
            <a href="/"><h1>턴플커피</h1></a>
        </div>
        <div class="menu">
            <div class="gnbbg"></div>  
            <ul class="selte">
                <li>
                    <a href="/introduce">턴플커피</a>
                    <ul class="menugnb">
                        <li><a href="/introduce">브랜드 스토리</a></li>
                        <li><a href="/introduce2">ONE FOR ONE</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/menu/Beverage">메뉴</a>
                    <ul class="menugnb">
                        <li><a href="/menu/Beverage">음료</a></li>
                        <li><a href="/menu/food">음식</a></li>
                        <li><a href="/menu/Signature">Signature</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/store">매장안내</a>
                    <ul class="menugnb">
                        <li><a href="/store">매장찾기</a></li>
                        <li><a href="/openstore">오픈 예정 매장</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/brdlist">WHAT`S NEW</a>
                    <ul class="menugnb">
                        <li><a href="/brdlist">새로운 소식</a></li>
                        <li><a href="/brdlistbo">보도자료</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="spanBtn">
            <span class="line top"></span>
            <span class="line mid"></span>
            <span class="line bot"></span>
            
        </div>
        
        <div class="nuibutton">
            <span><a href="#"><img src="/img/naver.svg"></a></span>
            <span><a href="#"><img src="/img/you.svg"></a></span>
            <span><a href="#"><img src="/img/in.svg"></a></span> 
        </div>
        
        <div class="sideM">
            <div class="lineBtn">
                <div class="btn2">
                    <span class="line top2"></span>
                    <span class="line mid2"></span>
                    <span class="line bot2"></span>
                </div>
                <div class="two">
                    <ul class="mater">
                        <li>
                            <a href=#>셀렉토커피</a>
                            <ul class="mDepth2">
                                <li><a href="#">브랜드 스토리</a></li>
                                <li><a href="#">HISTORY</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=#>메뉴</a>
                            <ul class="mDepth2">
                                <li><a href="#">음료</a></li>
                                <li><a href="#">음식</a></li>
                                <li><a href="#">Signature</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/store">매장안내</a>
                            <ul class="mDepth2">
                                <li><a href="/store">매장찾기</a></li>
                                <li><a href="/openstore">오픈 예정 매장</a></li>
                            </ul>

                        </li>
                        <li>
                            <a href="/brdlist">WHAT`S NEW</a>
                            <ul class="mDepth2">
                                <li><a href="/brdlist">새로운 소식</a></li>
                                <li><a href="/brdlistbo">보도자료</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="click">
                        <span><img src="/img/naver.svg"></span><span><img src="/img/you.svg"></span><span><img src="/img/in.svg"></span> 
                    </div>
                    <div class="login">
                        <a href="#">관리자 로그인</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>